[submodule "I2C_RTApp_MT3620_BareMetal/lib"]
	path = I2C_RTApp_MT3620_BareMetal/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "SPI_RTApp_MT3620_BareMetal/lib"]
	path = SPI_RTApp_MT3620_BareMetal/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "ADC_RTApp_MT3620_BareMetal/lib"]
	path = ADC_RTApp_MT3620_BareMetal/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "ADC_Joystick_RTApp_MT3620_BareMetal/lib"]
	path = ADC_Joystick_RTApp_MT3620_BareMetal/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "I2C_OLED_RTApp_MT3620_BareMetal/lib"]
	path = I2C_OLED_RTApp_MT3620_BareMetal/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "SPI_SSD1331_RTApp_MT3620_BareMetal/lib"]
	path = SPI_SSD1331_RTApp_MT3620_BareMetal/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "SPI_SDCard_RTApp_MT3620_BareMetal/lib"]
	path = SPI_SDCard_RTApp_MT3620_BareMetal/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "UART_RTApp_MT3620_BareMetal/lib"]
	path = UART_RTApp_MT3620_BareMetal/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "GPIO_ADC_RTAPP_MT3620_BareMetal/lib"]
	path = GPIO_ADC_RTAPP_MT3620_BareMetal/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "GPT_RTApp_MT3620_BareMetal/lib"]
	path = GPT_RTApp_MT3620_BareMetal/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "PWM_RTApp_MT3620_BareMetal/lib"]
	path = PWM_RTApp_MT3620_BareMetal/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "I2S_RTApp_MT3620_BareMetal/lib"]
	path = I2S_RTApp_MT3620_BareMetal/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "IntercoreComms_Mailbox/IntercoreComms_RTApp_MT3620_BareMetal/lib"]
	path = IntercoreComms_Mailbox/IntercoreComms_RTApp_MT3620_BareMetal/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "ThreadX_RTApp_MT3620_AzureRTOS/lib"]
	path = ThreadX_RTApp_MT3620_AzureRTOS/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "ThreadX_RTApp_MT3620_AzureRTOS/threadx"]
	path = ThreadX_RTApp_MT3620_AzureRTOS/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "I2C_RTApp_MT3620_AzureRTOS/lib"]
	path = I2C_RTApp_MT3620_AzureRTOS/lib
	url = https://github.com/CodethinkLabs/mt3620-m4-drivers
[submodule "I2C_RTApp_MT3620_AzureRTOS/threadx"]
	path = I2C_RTApp_MT3620_AzureRTOS/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "EINT_RTApp_MT3620_BareMetal/lib"]
	path = EINT_RTApp_MT3620_BareMetal/lib
	url = git@github.com:CodethinkLabs/mt3620-m4-drivers.git
